
@font-face {
  font-family: 'Orbitron';
  src: url('/asset/orbiton.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/asset/IBMPlexSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #c0c0c0;
}
h4, h6, h5, p{
  font-family: 'IBM Plex Sans', sans-serif;
  
}
h1, h2, h3, a{
  font-family: 'Orbitron', sans-serif;
  
}

h1{
    color: #add8e6;
}
h2 ,h4{
    color: #00c3ff;
}
